.Projects {
  margin: 5vw;
  text-align: center;
}
.projects {
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
}

.projects .Project {
  background-color: var(--secondary-color);
  min-width: 20rem;
  width: 20rem;
  box-shadow: var(--shadow);
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding: 2rem;
  transition: var(--transition);
}
.projects .Project .starIcon {
  width: 5rem;
  right: 0;
  z-index: -99;
  top: 0;
  transition: var(--transition);
}
.projects .Project:hover .starIcon {
  width: 5rem;
  rotate: 10deg;
  right: -30%;
  top: -30%;
  animation: floating 3s infinite ease-in-out;
}
.projects .Project:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 0 2px var(--primary-color),
    0 0 130px -50px var(--primary-color);
}
.projects .Project .placeholder {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
}
.projects .Project .projectImg {
  width: 15rem;
  height: 9rem;
  border-radius: 5px;
  transition: var(--transition);
}
.projects .Project .projectImg:hover {
  box-shadow: 0 0 130px -50px var(--primary-color);
}
.projects .Project .title {
  justify-content: space-between;
  font-family: var(--ff);
  margin: 2rem 0 0 0;
  position: relative;
}
.projects .Project .title .name {
  text-align: left;
}
.projects .Project .title .name {
  color: var(--primary-color);
  font-weight: 500;
}
.projects .Project .title .year {
  color: var(--text-c-link);
  width: 4.5rem;
  font-size: 0.8rem;
}
.projects .Project .desc {
  margin: 2rem 0 3rem 0;
  text-align: left;
}
.projects .Project .desc a {
  font-size: 0.7rem;
  color: var(--light-text-c);
  font-family: var(--ff);
}
.projects .Project .button {
  padding: 0.7rem 1.4rem;
  z-index: 1;
}
.projects .Project .git {
  padding: 0.7rem 1rem;
}
@media screen and (max-width: 400px) {
  .projects .Project:hover .starIcon {
    width: 3rem;
    rotate: 10deg;
    right: -10% !important;
    top: -50% !important;
    animation: floating 3s infinite ease-in-out;
  }
  .projects .Project {
    min-width: 18rem;
    margin: 0;
    padding: 2rem 1rem;
  }
  .projects .Project .starIcon {
    right: 10%;
  }
  .projects .Project:hover .starIcon {
    right: -20%;
    top: -20%;
  }
}
@media screen and (max-width: 330px) {
  .projects .Project {
    width: 10rem;
    padding: 2rem 1rem;
  }
}
