.Hero {
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 9rem 2rem 5rem 2rem;
}
.Hero .left {
  width: 40rem;
  margin-bottom: 3rem;
}
.Hero .left .main-titles {
  margin: 1.5rem 0;
}
.Hero .left .sub-heading {
  width: 27rem;
  margin: 1rem 0;
}
.Hero .left .connect .button {
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem;
  z-index: 1;
}
.Hero .right img {
  width: 25rem;
  box-shadow: var(--shadow);
  border-radius: 20px;
}
.darkImg {
  position: relative;
  z-index: -1;
}
.darkImg::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 20px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.548);
}
@media screen and (max-width: 600px) {
  .Hero .left .sub-heading {
    width: 80vw;
  }
  .Hero .right img {
    width: 80vw;
  }
  .Hero .left .connect .buttons {
    justify-content: center;
  }
}
