.Hero {
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 9rem 2rem 5rem 2rem;
}
.Hero .left {
  width: 40rem;
  margin-bottom: 3rem;
}
.Hero .left .main-titles {
  margin: 1.5rem 0;
}
.typer-cursor {
  position: relative;
}
.typer-cursor::before {
  position: absolute;
  content: "";
  background-color: var(--primary-color);
  bottom: 10px;
  right: -15px;
  height: 15%;
  border-radius: 100%;
  aspect-ratio: 1;
}
.Hero .left .sub-heading {
  width: 27rem;
  margin: 1rem 0;
}
.Hero .right img {
  width: 25rem;
  box-shadow: var(--shadow);
}
.Hero .right .imgWrapper {
  position: relative;
}
.Hero .right .imgWrapper::before,
.Hero .right .imgWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  z-index: -9;
}
.Hero .right .imgWrapper::before {
  border: 10px solid var(--primary-color);
  transform: translate(30px, 30px);
}
.Hero .right .imgWrapper::after {
  border: 10px solid var(--light-text-c);
  transform: translate(-30px, -30px);
}
@media screen and (max-width: 600px) {
  .Hero {
    margin: 7rem 2rem 5rem 2rem;
  }
  .Hero .left .sub-heading {
    width: 80vw;
  }
  .Hero .right img {
    width: 65vw;
  }
  .Hero .left .connect .buttons {
    justify-content: center;
  }
  .typer-cursor::before {
    bottom: 8px;
    height: 10%;
    right: -9px;
  }
}

@media screen and (max-width: 400px) {
  .typer-cursor::before {
    bottom: 1.5vw;
    right: -1.5vw;
  }
}
