.Skills {
  text-align: center;
}
.all-skills {
  margin: 2rem;
  justify-content: space-around;
}
.Skills .main-title {
  position: relative;
}
.Skills .trophyIcon {
  height: 10rem;
  left: 10%;
  top: -60%;
  position: absolute;
  animation: floating 3s infinite ease-in-out;
}
.all-skills .section {
  width: 40vw;
  text-align: left;
  color: var(--light-text-c);
  font-family: var(--ff);
}
.all-skills .section ul li {
  list-style-type: "</> ";
  position: relative;
  margin: 1rem 0;
}
.Skills .skills-row {
  gap: 4rem;
  width: 100vw;
  margin: 2rem 0;
  overflow: hidden;
}
.Skills .skills-row .row-1,
.Skills .skills-row .row-2 {
  gap: 4rem;
}
.Skills .skills-row .skill-img {
  width: 70px;
  filter: grayscale(100%);
  height: 70px;
  margin: 20px;
  aspect-ratio: 1;
  transition: var(--transition);
  position: relative;
}
.Skills .skills-row .skill-img:hover {
  filter: grayscale(0%);
}
@media screen and (max-width: 900px) {
  .all-skills {
    flex-direction: column;
    gap: 0rem;
  }

  .all-skills .section {
    width: 80vw;
  }
  .Skills .skills-row {
    gap: 2rem;
  }
  .Skills .skills-row .row-1,
  .Skills .skills-row .row-2 {
    gap: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .Skills .trophyIcon {
    height: 6rem;
    left: 0%;
    top: -30%;
  }
  .all-skills .section ul li {
    list-style-type: none;
    font-size: 0.8rem;
  }
  .all-skills .section {
    width: 90vw;
  }
  .Skills .skills-row .skill-img {
    width: 50px;
    height: 50px;
  }
  .Skills .skills-row {
    margin: 1rem 0;
  }

  .Skills .skills-row .skill-img {
    filter: grayscale(0%);
  }
}
@media screen and (max-width: 400px) {
  .Skills .trophyIcon {
    left: -10vw;
  }
  .Skills .skills-row .skill-img {
    width: 40px;
    height: 40px;
    margin: 15px;
  }
  .Skills .skills-row .row-1,
  .Skills .skills-row .row-2 {
    gap: 0;
  }
  .Skills .skills-row {
    gap: 0;
  }
}
