.Navbar {
  justify-content: space-between;
  padding: 1rem calc(5vw + 1rem);
  backdrop-filter: blur(20px);
}
.stick {
  background-color: var(--blur-c);
  z-index: 999;
  animation: nav 0.4s;
  position: fixed;
  width: 100vw;
  top: 0;
  box-shadow: var(--shadow);
}
@keyframes nav {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.Navbar .logo {
  font-size: 1.3rem;
  color: var(--light-text-c);
  font-family: var(--ff);
}
.Navbar .logo .icon {
  margin-right: 20px;
}
.Navbar .links .link {
  margin: 0rem 1rem;
  padding: 0.2rem;
}
.Navbar .contact-button {
  padding: 0.5rem 1.5rem;
}
