.Navbar {
  justify-content: space-between;
  padding: 1rem calc(5vw + 1rem);
  backdrop-filter: blur(20px);
}
.menuToggle {
  display: none !important;
}
.stick {
  /* background-color: var(--blur-c); */
  z-index: 999;
  animation: nav 0.4s;
  position: fixed;
  width: 100vw;
  top: 0;
}
@keyframes nav {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.Navbar .logo {
  font-size: 1.3rem;
  color: var(--light-text-c);
  font-family: var(--ff);
}
.Navbar .logo .icon {
  margin-right: 20px;
}
.Navbar .links .link {
  margin: 0rem 1rem;
  padding: 0.2rem;
}
.Navbar .contact-button {
  padding: 0.5rem 1.5rem;
}
@media screen and (max-width: 1050px) {
  .menuToggle {
    display: flex !important;
    color: var(--primary-color);
    font-size: 2rem;
    position: fixed;
    background-image: var(--button-gradient);
    top: 10px;
    right: 30px;
    border-radius: 100vw;
    box-shadow: var(--shadow);
    height: 50px;
    justify-content: center;
    width: 50px;
    z-index: 9999;
  }
  .Navbar {
    position: fixed;
    z-index: 999;
    width: 100vw;
    background-color: var(--secondary-color);
    top: 0;

    box-shadow: var(--shadow);
    animation: 0s;
    backdrop-filter: none;
  }
  .Navbar .right {
    transition: var(--transition);
    position: fixed;
    height: 100vh;
    width: 80vw;
    padding: calc(3rem + 3vw);
    box-shadow: var(--shadow);
    background-color: var(--blur);
    backdrop-filter: blur(30px);
    top: 0;
    right: 0;
    z-index: 99;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menuOpen {
    right: 0;
  }
  .menuClose {
    right: -100% !important;
  }
  .Navbar .right .buttons {
    flex-wrap: wrap;
    height: 100%;
    padding-top: 3rem;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .Navbar .links {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .Navbar .links .link {
    margin: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .menuToggle {
    font-size: 1.5rem;
    height: 40px;
    width: 40px;
    top: 15px;
    right: 20px;
  }
  .Navbar {
    padding: 1rem 0.5rem;
  }
  .Navbar .logo {
    font-size: 1rem;
  }
  .Navbar .logo .icon {
    margin: 8px 10px;
    width: 30px;
  }
  .Navbar .links .link {
    font-size: 1.3rem;
    color: var(--light-text-c);
  }

  .Navbar .right .buttons {
    padding-top: 0;
    height: max-content;
  }
}
