@font-face {
  font-family: arty;
  src: url(/fonts/ArtySignature.otf);
}
.Footer .sign {
  font-family: arty;
  font-size: 6rem;
  width: 230px;
}

.Footer {
  background-image: var(--button-gradient);
  padding: 2rem 5rem 1rem 3rem;
  text-align: center;
  z-index: 2;
  justify-content: space-between;
  position: relative;
}
.Footer .heartIcon {
  width: 5rem;
  right: 2%;
  bottom: 80%;
  animation: floating 6s infinite ease-in-out;
}
.Footer .logo img {
  width: 50px;
}
.Footer .logo {
  gap: 1rem;
  font-family: var(--ff);
  color: var(--light-text-c);
}
@media screen and (max-width: 840px) {
  .Footer {
    padding: 2rem 3rem 1rem 3rem;
    flex-direction: column;
  }
  .Footer .logo {
    margin-bottom: 2rem;
  }
  .Footer .connect {
    text-align: center;
  }
}
@media screen and (max-width: 540px) {
  .Footer .logo {
    flex-direction: column;
    font-size: 0.8rem;
    gap: 0.3rem;
    margin-bottom: 1rem;
  }
}
